<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" *ngIf="(character$ | async).isFetching"></div>
<div *ngIf="(character$ | async).payload as character">
  <table>
    <tbody>
    <tr>
      <td class="label">player:</td>
      <td>{{character.playerName}}</td>
    </tr>
    <tr>
      <td class="label">experience:</td>
      <td>{{character.experience}}</td>
    </tr>
    <tr *ngIf="character.description">
      <td class="label">description:</td>
      <td>{{character.description}}</td>
    </tr>
    </tbody>
  </table>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    Apply
  </button>
</div>
