.content {
  padding: 0em 1em;
}

.header {
  display: inline-flex;
}

.header > .name {
  padding-right: 1em;
}

td {
  padding: 0.5em 1em 0.5em 0em;
  font-size: 1.5em;
  letter-spacing: 2px;
}

td.label {
  text-transform: uppercase;
  text-effect: engrave;
  color: grey;
}

.mdl-button {
  margin-top: 1.5em;
}
